repos:
- repo: https://github.com/asottile/reorder-python-imports
  rev: v3.11.0
  hooks:
    - id: reorder-python-imports
- repo: https://github.com/psf/black
  rev: 23.9.1
  hooks:
    - id: black
      args: [--target-version, py311, --preview]
      language_version: python3.11
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: trailing-whitespace
ci:
  autofix_commit_msg: 'ci: auto fixes from pre-commit.com hooks'
  autoupdate_branch: 'main'
  autoupdate_commit_msg: 'ci: pre-commit autoupdate'